<h2 class="text-success">Edit Attribute</h2>
<form [formGroup]="editAttributeForm" (ngSubmit)="onSubmit()" class="p-4 border rounded shadow-sm bg-light">
  <div class="mb-3">
    <label for="attributeCode" class="form-label">Attribute Code</label>
    <input
      type="text"
      formControlName="attributeCode"
      class="form-control"
      id="attributeCode"
      placeholder="Enter attribute code"
      [ngClass]="{'is-invalid': editAttributeForm.get('attributeCode')?.invalid && editAttributeForm.get('attributeCode')?.touched}"
    />
    <div *ngIf="editAttributeForm.get('attributeCode')?.invalid && editAttributeForm.get('attributeCode')?.touched" class="invalid-feedback">
      Attribute Code is required.
    </div>
  </div>

  <div class="mb-3">
    <label for="attributeName" class="form-label">Attribute Name</label>
    <input
      type="text"
      formControlName="attributeName"
      class="form-control"
      id="attributeName"
      placeholder="Enter attribute name"
      [ngClass]="{'is-invalid': editAttributeForm.get('attributeName')?.invalid && editAttributeForm.get('attributeName')?.touched}"
    />
    <div *ngIf="editAttributeForm.get('attributeName')?.invalid && editAttributeForm.get('attributeName')?.touched" class="invalid-feedback">
      Attribute Name is required.
    </div>
  </div>
  
  <div class="d-flex justify-content-end">
    <a [routerLink]="['/admin/attribute']" routerLinkActive="router-link-active" class="btn btn-success">
      Back
    </a>

    <button type="submit" class="btn btn-primary" [disabled]="editAttributeForm.invalid">
      Submit
    </button>
  </div>
</form>