<!-- <router-outlet></router-outlet> -->

<div class="page-inner">
    <div class="page-header">
      
  
      <div class="mb-3 ml-5" style="width: 200px;">
        <select [(ngModel)]="statusFilter" class="form-select">
          <!-- <option value="">All statuses</option> -->
          <option value="APPROVED" >APPROVED</option>
          <option value="PENDING">PENDING</option>
          <option value="REJECTED">REJECTED</option>
        </select>
      </div>
      <label for="">Start Date</label>
      <input type="date" style="width: 200px;" [(ngModel)]="startDate">
      <label for="">End Date</label>
      <input type="date"  style="width: 200px;" [(ngModel)]="endDate">
      <button (click)="onSearch()" class="btn btn-primary mb-3">Search</button>
    </div>
  
    <div class="row justify-content-between">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <div class="d-flex align-items-center">
              <h4 class="card-title">List Comments</h4>
            </div>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="display table table-striped table-hover">
                <thead>
                  <tr>
                    <th>PostName</th>
                    <th>Username</th>
                    <th>CreatedAt</th>
                    <!-- <th>Status</th> -->
                    <th style="width: 10%">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let comment of comments">
                    <td>
                    {{comment?.post?.title}}
                      
                    </td> 
                    <td>{{ comment?.account?.userName }}</td>
                    <td>{{ comment?.createdAt | date: 'dd-MM-yyyy' }}</td>
                    <!-- <td>{{ product.active ? 'Active' : 'Inactive' }}</td> -->
                    <td>
                      <div class="form-button-action">
                        <a [routerLink]="['/admin/comment/detail', comment.id]" class="btn btn-link btn-primary btn-lg">
                          <i class="fa fa-eye"></i>
                        </a>
                        <button type="button" (click)="deleteComment(comment?.id)" class="btn btn-link btn-danger">
                          <i class="fa fa-times"></i>
                        </button>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
  
        <nav *ngIf="totalRecords > pageSize">
          <ul class="pagination">
            <li class="page-item" [class.disabled]="currentPage === 1">
              <a class="page-link" (click)="onPageChange(currentPage - 1)">Previous</a>
            </li>
  
            <li class="page-item" *ngFor="let page of [].constructor(Math.ceil(totalRecords / pageSize)); let i = index"
                [class.active]="currentPage === i + 1">
              <a class="page-link" (click)="onPageChange(i + 1)">{{ i + 1 }}</a>
            </li>
  
            <li class="page-item" [class.disabled]="currentPage === Math.ceil(totalRecords / pageSize)">
              <a class="page-link" (click)="onPageChange(currentPage + 1)">Next</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
  