<h2 class="text-success " style="margin-left: 3px;">Detail Comment</h2>
<form class="p-4 border rounded shadow-sm bg-light">

    <div class="mb-3">
        <label for="categoryName" class="form-label">Comment Content</label>
        <input
          type="text"
          formControlName="content_comment"
          class="form-control"
          readonly
          [value]="comment?.content"
        />
       
      </div>
    <div class="mb-3">
        <label for="categoryName" class="form-label">Comment date</label>
        <input
          type="text"
          formControlName="email"
          class="form-control"
          [value]="comment?.createdAt | date: 'dd-MM-yyyy HH:mm:ss'"
          readonly
        />
      </div>

  <div class="mb-3">
    <label for="categoryName" class="form-label">Post Name</label>
    <input
      type="text"
      formControlName="postName"
      class="form-control"
      placeholder="Enter category name"
      readonly
      [value]="comment?.post?.title"
    />
   
  </div>
  
  <div class="mb-3">
    <label for="categoryName" class="form-label">Content post</label>
    <input
      type="text"
      formControlName="content"
      class="form-control"
      [value]="comment?.post?.content"
      readonly
    />
   
  </div>

  <div class="mb-3">
    <label for="categoryName" class="form-label">Username</label>
    <input
      type="text"
      formControlName="username"
      class="form-control"
      [value]="comment?.account?.userName"
      readonly
    />
   
  </div>

  <div class="mb-3">
    <label for="categoryName" class="form-label">Email</label>
    <input
      type="text"
      formControlName="email"
      class="form-control"
      [value]="comment?.account?.email"
      readonly
    />
    
   
  </div>
  
  
  <div class="d-flex justify-content-end">
    <a type="submit" [routerLink]="['/admin/comment']" routerLinkActive="router-link-active"  class="btn btn-success">
        Back
      </a>

 
  </div>
</form>
