<h2 class="text-success">Add Category</h2>
<form [formGroup]="addCategoryForm" (ngSubmit)="onSubmit()" class="p-4 border rounded shadow-sm bg-light">
  <div class="mb-3">
    <label for="categoryName" class="form-label">Category Name</label>
    <input
      type="text"
      formControlName="categoryName"
      class="form-control"
      id="categoryName"
      placeholder="Enter category name"
    />
    <div *ngIf="addCategoryForm.get('categoryName')?.invalid && addCategoryForm.get('categoryName')?.touched" class="text-danger mt-1">
      Category Name is required.
    </div>
  </div>

  <div class="mb-3">
    <label for="active" class="form-label">Status</label>
    <select
      class="form-select"
      formControlName="active"
      id="active"
      aria-label="Category status"
    >
      <option selected disabled>Select status</option>
      <option value="1">Active</option>
      <option value="0">Inactive</option>
    </select>
  </div>

  <div class="d-flex justify-content-end">
    <button type="submit" class="btn btn-primary">
      Submit
    </button>
  </div>
</form>

