
<div class="wrapper">
    <!-- Sidebar -->
    <div class="sidebar" data-background-color="dark">
      <div class="sidebar-logo">
        <!-- Logo Header -->
        <div class="logo-header" data-background-color="dark">
          <a [routerLink]="['/']" class="logo">
            <img src="assets/img/kaiadmin/logo_light.svg" alt="navbar brand" class="navbar-brand" height="20" />
          </a>
          <div class="nav-toggle">
            <button class="btn btn-toggle toggle-sidebar">
              <i class="gg-menu-right"></i>
            </button>
            <button class="btn btn-toggle sidenav-toggler">
              <i class="gg-menu-left"></i>
            </button>
          </div>
          <button class="topbar-toggler more">
            <i class="gg-more-vertical-alt"></i>
          </button>
        </div>
        <!-- End Logo Header -->
      </div>
      <div class="sidebar-wrapper scrollbar scrollbar-inner">
        <div class="sidebar-content">
          <ul class="nav nav-secondary">
            <li class="nav-item active">
              <a data-bs-toggle="collapse" href="#dashboard" class="collapsed" aria-expanded="false">
                <i class="fas fa-home"></i>
                <p>Dashboard</p>
                <span class="caret"></span>
              </a>
              <div class="collapse" id="dashboard">
                <ul class="nav nav-collapse">
                  <li>
                    <a [routerLink]="['/admin']">
                      <span class="sub-item">Dashboard</span>
                    </a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="nav-section">
              <span class="sidebar-mini-icon">
                <i class="fa fa-ellipsis-h"></i>
              </span>
              <h4 class="text-section">Main</h4>
            </li>
            <li class="nav-item">
              <a data-bs-toggle="collapse" href="#submenu1">
                <i class="fas fa-bars"></i>
                <p>Category</p>
                <span class="caret"></span>
              </a>
              <div class="collapse" id="submenu1">
                <ul class="nav nav-collapse">
                  <li>
                    <a data-bs-toggle="collapse" href="#subnav1">
                      <span class="sub-item">Categories</span>
                      <span class="caret"></span>
                    </a>
                    <div class="collapse" id="subnav1">
                      <ul class="nav nav-collapse subnav">
                        <li>
                          <a [routerLink]="['/admin/category']">
                            <span class="sub-item">Category List</span>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </li>
                 
                </ul>
              </div>
            </li>
            <li class="nav-item">
              <a data-bs-toggle="collapse" href="#submenu2">
                <i class="fas fa-check-circle"></i>
                <p>Product</p>
                <span class="caret"></span>
              </a>
              <div class="collapse" id="submenu2">
                <ul class="nav nav-collapse">
                  
                  <li>
                    <a data-bs-toggle="collapse" href="#subnav2">
                      <span class="sub-item">Products</span>
                      <span class="caret"></span>
                    </a>
                    <div class="collapse" id="subnav2">
                      <ul class="nav nav-collapse subnav">
                        <li>
                          <a [routerLink]="['/admin/product']">
                            <span class="sub-item">Product List</span>
                          </a>
                        </li>
                        <li>
                          <a [routerLink]="['/admin/product/add']">
                            <span class="sub-item">Add Product</span>
                          </a>
                        </li>
                       
                      </ul>
                    </div>
                  </li>
                  <li>
                    <a data-bs-toggle="collapse" href="#subnav28">
                      <span class="sub-item">Attributes</span>
                      <span class="caret"></span>
                    </a>
                    <div class="collapse" id="subnav28">
                      <ul class="nav nav-collapse subnav">
                        <li>
                          <a [routerLink]="['/admin/attribute']">
                            <span class="sub-item">Attribute</span>
                          </a>
                        </li>
                        <li>
                          <a [routerLink]="['/admin/option']">
                            <span class="sub-item">Option</span>
                          </a>
                        </li>
                       
                      </ul>
                    </div>
                  </li>
                 
                 
                </ul>
              </div>
            </li>
            <li class="nav-item">
              <a data-bs-toggle="collapse" href="#submenu11">
                <i class="fas fa-check-circle"></i>

                
                <p>Order</p>
                <span class="caret"></span>
              </a>
              <div class="collapse" id="submenu11">
                <ul class="nav nav-collapse">
                  
                  <li>
                    <a data-bs-toggle="collapse" [routerLink]="['/admin/orders']">
                      <span class="sub-item">Orders</span>
                      <span class="caret"></span>
                    </a>
                  </li>
                 
                </ul>
              </div>
            </li>
            <li class="nav-item">
              <a data-bs-toggle="collapse" href="#submenu3">
                <i class="fas fa-ellipsis-h"></i>
                <p>Post</p>
                <span class="caret"></span>
              </a>
              <div class="collapse" id="submenu3">
                <ul class="nav nav-collapse">
                  <li>
                    <a data-bs-toggle="collapse" [routerLink]="['/admin/category-post']">
                      <span class="sub-item">Category post</span>
                      <span class="caret"></span>
                    </a>
                  </li>

                  <li>
                    <a data-bs-toggle="collapse" href="#subnav5">
                      <span class="sub-item">Post</span>
                      <span class="caret"></span>
                    </a>
                    <div class="collapse" id="subnav5">
                      <ul class="nav nav-collapse subnav">
                        <li>
                          <a [routerLink]="['/admin/post']">
                            <span class="sub-item">Post List</span>
                          </a>
                        </li>
                        <li>
                          <a [routerLink]="['/admin/post/add']">
                            <span class="sub-item">Add Post</span>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </li>

                 
                 
                </ul>
              </div>
            </li>
     
            <li class="nav-item">
              <a data-bs-toggle="collapse" href="#submenu4">
                <i class="fas fa-users"></i>
                <p>Comment</p>
                <span class="caret"></span>
              </a>
              <div class="collapse" id="submenu4">
                <ul class="nav nav-collapse">
                 
                 
                  <li>
                    <a data-bs-toggle="collapse" href="#subnav4">
                      <span class="sub-item">Comments</span>
                      <span class="caret"></span>
                    </a>
                    <div class="collapse" id="subnav4">
                      <ul class="nav nav-collapse subnav">
                        <li>
                          <a [routerLink]="['/admin/comment']">
                            <span class="sub-item">Comment List</span>
                          </a>
                        </li>
                        <li>
                          <a [routerLink]="['/admin/request-approve']">
                            <span class="sub-item">Request Comments</span>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </li>
                 
                 
                </ul>
              </div>
            </li>
     
  
          </ul>
        </div>
      </div>
    </div>
    <!-- End Sidebar -->
  
    <div class="main-panel">
      <app-header></app-header>
      <div class="container">
        <router-outlet></router-outlet>
      </div>
      <app-footer></app-footer>
    </div>
  
  
  </div>